{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | ton souhait en détail
{% endblock %}

{% block body %}
<div>cetet page affichera la liste en detail des souhaits</div>
{% endblock %}

