<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bucket-List {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Crimson+Text:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bucket.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>
<header>
    {% include ('inc/header.html.twig') %}
    {% include('inc/nav.html.twig') %}
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    {% include ('inc/footer.html.twig') %}
</footer>

</body>
</html>