<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_about') }}" title="About">About us</a></li>
        <li><a href="{{ path('wish_list') }}" title="About">Liste des désirs</a></li>
    </ul>
</nav>